.counter {
    --duration: 200ms;

    position: relative;

    background-color: #fff;
    font-size: 2em;

    width: 300px;
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1em;
}

.counter-name {
    font-weight: 600;
}

.counter-counter-part:not(:last-child)::after {
    content: " ";
}

.counter-counter-part-label {
    font-variant: small-caps;
}

.counter-controls {
    position: absolute;
    top: 0;
    right: 0;

    opacity: 0;
    transition-property: opacity;
    transition-duration: var(--duration);
}

.counter:hover .counter-controls {
    opacity: 1;
}
