.App {
    font-family: "FreeSans", "Liberation Sans", "Arimo", "Roboto", "Helvetica Neue", sans-serif;
    background-color: #ccc;
    width: 100%;
    height: 100%;
}

.App-list {
    display: flex;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
